@import "tailwindcss";
.navLinks a {
    margin-right: 10px;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.toast {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom */
    right: 20px; /* Adjust the distance from the right */
    left: 20px; /* Adjust the distance from the left */
    z-index: 9999; /* Ensure it's above other content */
}